@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,700;1,400&family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.hero .btn, .about .btn, .portfolio .btn {
  padding: 0 55px;
  border-radius: 0;
}

.hero .btn-primary, .about .btn-primary, .portfolio .btn-primary {
  font-family: "Asap", sans-serif;
  font-size: 16px;
  line-height: 50px;
  font-weight: 500;
  color: #4d4d4d;
  border: 1px solid #4d4d4d;
  background-color: transparent;
  text-transform: uppercase;
}

.hero .btn-primary:hover, .about .btn-primary:hover, .portfolio .btn-primary:hover {
  background-color: #fff;
  border: 1px solid #fff;
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar-default {
  background-color: transparent;
  border: none;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-collapse {
  border: none;
}

.navbar-brand {
  padding-top: 30px;
}

.nav.navbar-nav.navbar-right li a {
  padding-top: 30px;
  font-family: "Asap", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #4d4d4d;
  text-transform: uppercase;
}

.nav.navbar-nav.navbar-right li a::after {
  content: "";
  margin-top: 8px;
  display: block;
  width: 0%;
  height: 2px;
  background-color: #878787;
}

.nav.navbar-nav.navbar-right li a:hover::after {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.owl-carousel {
  padding: 80px 75px 110px 120px;
  border: 1px solid #253142;
}

.owl-nav {
  display: none;
}

.owl-dots {
  position: absolute;
  bottom: 37px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.owl-dots .owl-dot {
  outline: none !important;
}

.owl-dots .owl-dot span {
  display: inline-block;
  margin-right: 4px;
  height: 13px;
  width: 13px;
  background-color: transparent;
  border: 1px solid #253142;
}

.owl-dots .owl-dot.active span {
  border: 1px solid black;
  background-color: black;
}

.form-control {
  height: 57px;
}

textarea.form-control {
  padding-top: 20px;
}

.hero {
  height: 100vh;
  background: url(../img/hero-bg_01.jpg) center center no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.hero .wrapper {
  position: absolute;
  top: 25vh;
}

.hero__title {
  font-family: "Asap", sans-serif;
  font-size: 90px;
  line-height: 90px;
  font-weight: 500;
  color: #4d4d4d;
  margin: 0;
}

.hero__description {
  margin: 0 0 30px 0;
  padding-left: 5px;
  font-family: "Asap", sans-serif;
  font-size: 22px;
  line-height: 22px;
  font-weight: 500;
  color: #4d4d4d;
  opacity: 0.15;
}

.hero__img {
  max-width: 575px;
}

.hero__img > img {
  width: 100%;
  overflow: hidden;
}

.title {
  font-family: "Asap", sans-serif;
  font-size: 46px;
  line-height: 60px;
  font-weight: 700;
  color: #4d4d4d;
  text-transform: uppercase;
  opacity: 0.8;
}

.about {
  background-color: #fff;
  padding: 110px 0 125px 0;
}

.about .wrapper {
  margin-top: 75px;
}

.about__title {
  position: relative;
  width: 300px;
  margin: 0 0 15px 0;
}

.about__title::before {
  content: "";
  display: block;
  height: 4px;
  width: 60px;
  background-color: #4d4d4d;
  position: absolute;
  top: -10px;
  left: 3px;
}

.about__img {
  max-width: 570px;
  margin: auto;
}

.about__img > img {
  width: 100%;
  overflow: hidden;
}

.about__description {
  position: relative;
  top: -20px;
  font-family: "Asap", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #4d4d4d;
}

.services {
  padding: 145px 0 115px 0;
  background-color: #f6f6f6;
}

.services__title {
  margin-bottom: 60px;
  position: relative;
}

.services__title::before {
  content: "";
  display: block;
  height: 4px;
  width: 60px;
  background-color: #4d4d4d;
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.services__description {
  margin: 20px auto 85px auto;
  font-family: "Asap", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  color: #4d4d4d;
}

.skills {
  padding: 140px 0 125px 0;
  background-color: #fff;
}

.skills__img {
  max-width: 995px;
  margin: auto;
  overflow: hidden;
}

.skills__img > img {
  width: 100%;
}

.skills__title {
  margin-bottom: 60px;
  position: relative;
}

.skills__title::before {
  content: "";
  display: block;
  height: 4px;
  width: 60px;
  background-color: #4d4d4d;
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.portfolio {
  padding: 150px 0 120px 0;
  background-color: #f6f6f6;
}

.portfolio__title {
  margin-bottom: 45px;
  position: relative;
}

.portfolio__title::before {
  content: "";
  display: block;
  height: 4px;
  width: 60px;
  background-color: #4d4d4d;
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.portfolio__img {
  position: relative;
  display: block;
  margin-bottom: 30px;
  overflow: hidden;
  z-index: 1;
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.portfolio__img:hover {
  cursor: pointer;
  -webkit-filter: none;
          filter: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 24px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 24px 1px rgba(0, 0, 0, 0.75);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.portfolio__img:hover::after {
  font-family: "Font Awesome 5 Free";
  font-size: 24px;
  line-height: 24px;
  font-weight: 900;
  color: black;
  position: absolute;
  content: '\f105';
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.portfolio__img > img {
  width: 100%;
}

.testimonials {
  margin-bottom: 57px;
  padding: 150px 0 120px 0;
  background-color: #fff;
}

.testimonials__title {
  margin-bottom: 45px;
  position: relative;
}

.testimonials__title::before {
  content: "";
  display: block;
  height: 4px;
  width: 60px;
  background-color: #4d4d4d;
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.testimonials .carusel__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonials__img {
  display: block;
  width: 160px;
  height: 160px;
}

.testimonials__img > img {
  width: 100%;
}

.testimonials__info {
  display: block;
  max-width: 570px;
  text-align: left;
}

.testimonials__name {
  margin-bottom: 9px;
  font-family: "Asap", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  color: #212121;
  text-transform: uppercase;
}

.testimonials__position {
  margin-bottom: 20px;
  font-family: "Asap", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #212121;
  font-style: italic;
  text-transform: uppercase;
}

.testimonials__description {
  font-family: "Asap", sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: rgba(33, 33, 33, 0.6);
  text-transform: uppercase;
}

.advantages {
  padding: 52px 0 52px 0;
  margin-bottom: 155px;
  background-color: #f6f6f6;
}

.advantages__count {
  margin-top: 30px;
  font-family: "Asap", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  color: #212121;
  opacity: 0.9;
}

.advantages__title {
  font-family: "Asap", sans-serif;
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  color: #212121;
  opacity: 0.9;
  text-transform: uppercase;
}

.contact {
  padding: 170px 0 30px 0;
  background: url(../img/contact_bg.jpg) center center no-repeat;
  background-size: cover;
}

.contact__title {
  margin-bottom: 70px;
  color: white;
}

.contact__title::before {
  content: "";
  display: block;
  height: 4px;
  width: 60px;
  background-color: white;
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contact input {
  margin-bottom: 30px;
  border-radius: 0;
  font-family: "Asap", sans-serif;
  font-size: 16px;
  line-height: 57px;
  font-weight: 400;
  color: #212121;
}

.contact input::-webkit-input-placeholder {
  font-family: "Asap", sans-serif;
  font-size: 16px;
  line-height: 57px;
  font-weight: 400;
  color: rgba(33, 33, 33, 0.8);
}

.contact input:-ms-input-placeholder {
  font-family: "Asap", sans-serif;
  font-size: 16px;
  line-height: 57px;
  font-weight: 400;
  color: rgba(33, 33, 33, 0.8);
}

.contact input::-ms-input-placeholder {
  font-family: "Asap", sans-serif;
  font-size: 16px;
  line-height: 57px;
  font-weight: 400;
  color: rgba(33, 33, 33, 0.8);
}

.contact input::placeholder {
  font-family: "Asap", sans-serif;
  font-size: 16px;
  line-height: 57px;
  font-weight: 400;
  color: rgba(33, 33, 33, 0.8);
}

.contact textarea {
  margin-bottom: 30px;
  border-radius: 0;
  resize: none;
  height: 200px;
}

.contact textarea::-webkit-input-placeholder {
  font-family: "Asap", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(33, 33, 33, 0.8);
}

.contact textarea:-ms-input-placeholder {
  font-family: "Asap", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(33, 33, 33, 0.8);
}

.contact textarea::-ms-input-placeholder {
  font-family: "Asap", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(33, 33, 33, 0.8);
}

.contact textarea::placeholder {
  font-family: "Asap", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(33, 33, 33, 0.8);
}

.contact .btn {
  margin-bottom: 155px;
  padding: 0 55px;
  border-radius: 0;
  position: relative;
}

.contact .btn::after {
  content: '\f1d8';
  position: absolute;
  top: 50%;
  right: 23%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: "Font Awesome 5 Free";
  font-size: 14px;
  line-height: 16px;
  font-weight: 900;
  color: #4d4d4d;
}

.contact .btn-primary {
  font-family: "Asap", sans-serif;
  font-size: 16px;
  line-height: 50px;
  font-weight: 500;
  color: #4d4d4d;
  border: 1px solid transparent;
  background-color: white;
  text-transform: uppercase;
}

.contact .btn-primary:hover {
  background-color: #fff;
  border: 1px solid #fff;
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact footer {
  padding: 26px 0 0 0;
  border-top: 1px solid white;
}

.contact footer ul li {
  display: inline-block;
  margin-right: 9px;
}

.contact footer ul li i {
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  width: 30px;
  color: #4d4d4d;
  background-color: #fff;
}

.contact footer ul li i.fa-facebook-f:hover {
  background-color: blue;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact footer ul li i.fa-twitter:hover {
  background-color: lightblue;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact footer ul li i.fa-linkedin-in:hover {
  background-color: blue;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact footer ul li i.fa-google-plus-g:hover {
  background-color: red;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact footer ul li i.fa-behance:hover {
  background-color: blue;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact footer ul li i.fa-dribbble:hover {
  background-color: pink;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact footer p {
  padding-top: 7px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: white;
}
/*# sourceMappingURL=style.css.map */